﻿@model KasutajaRollOskus.Kasutaja

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<table>
    <tr>
        <td>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Kasutaja</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Nimi, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Nimi, new { htmlAttributes = new { @class = "form-control"} })
                            @Html.ValidationMessageFor(model => model.Nimi, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @*e-mailile lisame disabled - seda näeb, aga ei saa muuta*@
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", disabled = "true" } })
                            @*@Html.DisplayFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", disabled = "true" } })*@
                            @Html.HiddenFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", disabled = "true" } })

               
                        </div>
                    </div>
                    @*lisan uue välja: uus oskus*@
                    <div class="form-group">
                        @Html.LabelFor(model => model.UusOskus, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @*e-mailile lisame disabled - seda näeb, aga ei saa muuta*@
                            @Html.EditorFor(model => model.UusOskus, new { htmlAttributes = new { @class = "form-control"} })
                            @Html.ValidationMessageFor(model => model.UusOskus, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    @*loetlen ka olemasolevad oskused*@
                    @foreach (Oskus o in Model.KasutajaOskus.Select(x => x.Oskus))
                    {
                        <div class="form-group">
                            @Html.LabelFor(model => o.Nimetus, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @*e-mailile lisame disabled - seda näeb, aga ei saa muuta*@
                                @Html.EditorFor(model => o.Nimetus, new { htmlAttributes = new { @class = "form-control", disabled = "true" } })
                            </div>
                        </div>

                    }

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
        </td>
        <td width="100"></td>
        <td>
            <p>Saadaolevad rollid:</p>
            <ul>
                @*siin kasutame ära ViewBagis oleva rollide listi ja loetleme need*@
                @foreach (Roll r in ViewBag.Rollid ?? new List<Roll>())
                {
                    if (!r.KasutajaRoll.Select(x => x.KasutajaId).Contains(Model.Id))
                    {
                        @*<li>@r.Nimetus</li>*@
                        <li>@Html.ActionLink("+ "+r.Nimetus, "LisaRoll", new { id = Model.Id * 1000 + r.Id })</li>
                    }
                }
            </ul>
            <p>Kasutajal on rollid:</p>
            <ul>
                @foreach(KasutajaRoll kr in Model.KasutajaRoll.Where(x => x.RollId != 0))
                {
                    @*<li>@kr.Roll.Nimetus</li>*@
                    <li>@Html.ActionLink("- "+kr.Roll.Nimetus, "EemaldaRoll", new { id = Model.Id * 1000 + kr.RollId })</li>
                }
            </ul>
 
        </td>
    </tr>
</table>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
