﻿@model IEnumerable<KasutajaRollOskus.Kasutaja>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@{
    Kasutaja kasutaja = Kasutaja.ByEmail(User.Identity.Name);
    if (kasutaja != null)
    {
        <h4>Sisse on loginud @kasutaja.Nimi</h4>
    }
}

<p>
    @if (kasutaja.KasutajaRoll.Select(x => x.Roll.Nimetus).Contains("Administrator"))
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nimi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
